<h1>anagha</h1>
<p>eatho vaarmukilin kinavil muthaayii nee vannu..
    omale jeevanil amruthekanayii.
    jeevamashamayi thane neeyennil kalangal munne vannu..
    neeryam thanalinu thazhe
</p>
<br>
<span>eatho vaarmukilin kinavil muthaayii nee vannu..
    omale jeevanil amruthekanayii.
    jeevamashamayi thane neeyennil kalangal munne vannu..
    neeryam thanalinu thazhe</span>
<br>
<br>

<i>newyear</i>
<b>have a nice day</b>
<br>
<strong>athira k rajan</strong>
<br><br>
<em>chinmaya babu</em>
<style>
    .box {
        width: 60vw;
        background-color: green;
        display: flex;
        border: 1px solid;
    }

    .box2 {
        background-color: pink;
        color: blue;
        width: 90vw;

    }

    button {
        padding: 11px;
    }
</style>
<div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, sequi.
</div>
<br>
<br>
<div class="box2">
    Lorem ipsum dolor sit amet,<strong> consectetur adipisicing elit.Optio sunt fugit est?</strong> consectetur
    adipisicing elit.Optio sunt fugit est?<b>uaerat voluptatibus pariatur</b> Quaerat voluptatibus pariatur
    Lorem ipsum dolor sit amet,<i>consectetur adipisicing elit.Optio sunt fugit est? Quaerat voluptatibus
        pariatur</i> consectetur adipisicing Optio sunt fugit est? Quaerat voluptatibus
    pariatur corporis, debitis labore nesciunt incidunt,<span>anagha</span> consequatur aliquid eveniet ipsum nulla
    ipsam quos
    neque
    voluptatum
    cumque.
    <br>
    <br>
    <br>
    <button type="submit"><a href="{%url 'logout'%}">logout</a></button>

</div>